@charset "utf-8";
@import "custom.css";
@import "fontImport.css";
.intro-pageCoverImage{background-image: url("/assets/pageImage/introPageBackground.jpg");}

.content{color: white;}

.content h1{
    text-align: center;
    font-family: Var(--headingFont);
}

.content p{
    font-family: Var(--contentFont);
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) { .content p{font-size: 1.2rem;}  }